.gpt3__brand {
  display: flex;
  align-items: center;
  gap: 40px;
  justify-content: center;
  flex-wrap: wrap;
}

.gpt3__brand div {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 150px;
  min-width: 120px;
}
